/* Google Fonts Link */
@import url('https://fonts.cdnfonts.com/css/inter');
@font-face{
    font-family:halimun;
    font-style:normal;
    font-weight:400;
    src:local('Halimun'),url(https://fonts.cdnfonts.com/s/22632/Halimun.woff) format('woff');
}
/* Html Style */
body {
    font-family: 'Inter', sans-serif;
    background-color: #FCFAFA;
    /* background-color: #4d9085; */
    overflow-x: none;
    overflow-y: overlay;
    padding: 0;
    margin: 0;
}
/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #36363675;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #363636;
}
/* Navbar */
.navbar {
    height: 90px;
}
.navbar-brand-div {
    display: flex;
}
.navbar-brand {
    display: flex;
    font-family: 'Halimun', sans-serif;
}
.navbar-brand-img {
    width: auto;
    height: 40px;
}
.navbar-brand-h1 {
    font-size: 20pt;
}
.nav-div-2 {
    justify-content: center;
}
.nav-item {
    padding-right: 10px;
}
.nav-icon {
    font-size: 14pt;
    --ionicon-stroke-width: 50px;
}
.nav-div-3 {
    justify-content: right;
}
.form-textbox-input {
    border-radius: 10rem;
    width: 80%;
    height: 24px;
    align-self: center;
}
.straight-line {
    border-bottom: 2px solid #0000005d;
    width: 93%;
}
@media screen and (max-width: 992px) {
    .navbar-brand-div {
        width: 100%;
        justify-content: space-between;
    }
}
/* Shop Section */
.shop-section {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}
.shop-grid-div-1 {
    width: 40%;
}
.shop-grid-div-2 {
    width: 60%;
}
.shop-grid-item-4 {
    border-top: 1px solid #0000005d;
    padding-top: 30px;
}
.carousel {
    width: 90%;
}
.carousel-item {
    height: 600px;
}
.carousel-img {
    height: 600px;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.carousel-inner {
    border-radius: 32px;
    border: 1px solid #6D1F1F;
}
.shop-tag {
    background-color: #6D1F1F;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
}
.shop-price {
    font-size: 36pt;
}
.shop-sub-price {
    font-size: 16pt;
    font-weight: 300;
}
.shop-options {
    display: flex;
    margin-top: 64px;
    gap: 0.5%;
}
.shop-buy-btn {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    text-decoration: none;
    background-color: #6D1F1F;
    color: #fff;
    border-radius: 20px 0 0 20px;
    width: 80%;
}
.shop-add-btn {
    height: 60px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    text-decoration: none;
    background-color: #6D1F1F;
    color: #fff;
    border-radius: 0 20px 20px 0;
    --ionicon-stroke-width: 50px;
}
.shop-desc-span {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.716);
}
.shop-desc-p {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.716);
    font-size: 14pt;
}
/* Cart */
.cart-section {
    margin: 60px auto;
    display: flex;
    width: 90%;
}
.cart-list {
    height: 100%;
    width: 60%;
}
.cart-list-list {
    width: 90%;
    margin-top: 20px;
}
.cart-info {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.cart-list-item {
    border: 1px solid #6D1F1F;
    border-radius: 20px;
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}
.cart-list-card {
    background-color: #6D1F1F;
    border-radius: 18px;
    color: #fff;
    height: 44px;
    margin-left: 2px;
    width: 90%;
    display: flex;
}
.cart-list-card-item {
    margin-right: 20px;
}
.cart-list-list {
    list-style: none;
}
.cart-list-img {
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: 5px;
    border: 1px solid #6D1F1F;
    border-radius: 16px;
}
.card-list-card-div-1, .card-list-card-div-2 {
    margin: auto 10px;
}
.card-list-card-div-2 {
    margin-left: auto;
}
.cart-list-card-item-4 {
    color: hsl(0, 0%, 80%);
}
.cart-info-div-1 {
    border: 2px solid #6D1F1F;
    padding: 16px;
    border-radius: 16px;
}
.cart-info-div-1-div {
    border-top: 1px solid #00000075;
    padding-top: 5px;
    margin-top: 10px;
}
.cart-info-calc-btn {
    background-color: #6D1F1F;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 18px;
    float: right;
}
.cart-info-div-2 {
    border: 2px solid #6D1F1F;
    padding: 16px;
    border-radius: 16px;
    margin-top: 40px;
}
.cart-info-div-2-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #00000075;
}
.cart-info-end-btn {
    background-color: #6D1F1F;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
}
.dropdown-btn-info {
    padding: 0;
    margin-bottom: 16px;
}
.dropdown-btn-info-div {
    margin-top: 16px;
}
@media screen and (max-width: 1132px) {
    .shop-section {
        flex-direction: column;
    }
    .shop-grid-div-1, .shop-grid-div-2 {
        width: 100%;
    }
    .shop-grid-div-2 {
        margin-top: 60px;
    }
    .carousel-item {
        background-color: #00000009;
    }
    .carousel-img {
        width: fit-content;
    }
    .cart-section {
        flex-direction: column;
        width: 100%;
    }
    .cart-list, .cart-info {
        margin: 0 auto;
        width: 80%;
    }
    .cart-info {
        margin-top: 60px;
        
    }
}